<h2>Listado de peliculas</h2>
<table class="table table-bordered table-hover" [hidden]="peliculaSeleccionada">
    <thead>
        <tr>
            <th>Id</th>
            <th>Título</th>
            <th>Género</th>
            <th>Director</th>
            <th>Foto</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pelicula of peliculas" (click)="editarPelicula(pelicula.id_pelicula)">
            <td>{{pelicula.id_pelicula}}</td>
            <td>{{pelicula.titulo}}</td>
            <td>{{pelicula.genero}}</td>
            <td>{{pelicula.director}}</td>
            <td><img style="height: 80px;" [src]="pelicula.foto"></td>
        </tr>
    </tbody>
</table>

<div *ngIf="peliculaSeleccionada">
    <app-detalle [idPelicula]="peliculaSeleccionada" (cancelar)="cancelar($event)"></app-detalle>
</div>