<div class="container">
    <h2>Detalle de Pelicula</h2>
    <hr>
    <div class="row">
        <div class="col-12">
            <div class="col-6">
                <label>Nombre: {{peliculaSeleccionada.nombre}}</label>
            </div>
            <div class="col-6">
                <label>Director: {{peliculaSeleccionada.director}}</label>
            </div>
        </div>
        <div class="col-12">
            <div class="col-6">
                <label>Año: {{peliculaSeleccionada.anio}}</label>
            </div>
        </div>
    </div>
</div>
