nav {
    width: 100%;
    padding-top: 10px;
    box-sizing: border-box;
    height: 70px;
    background-color: green;
    border: 1px dashed black;
    display: flex;
}

nav a {
    text-decoration: none;
    width: 100px;
    height: 50px;
    margin-left: 5px;
    line-height: 50px;
    text-transform: uppercase;
    text-align: center;
}

nav a:link,
nav a:visited {
    background: #fff;
    color: #000;
}

nav a:hover {
    color: coral;
    background: lightgreen;
}

nav a:active {
    background: lightblue;
    color: #333;
}

nav a:last-child {
    margin-left: auto;
    margin-right: 10px;
}