ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#barra {
    width: 100%;
    padding-top: 10px;
    box-sizing: border-box;
    height: 70px;
    background: green;
    border: 1px dashed black;
    display: flex;
    flex-direction: row;
}

a {
    text-decoration: none;
    color: white;
    display: block;
    width: 100px;
    height: 50px;
    margin-left: 5px;
    line-height: 50px;
    text-align: center;
}

a:link,
a:visited {
    background: #fff;
    color: #000;
}

a:hover {
    background: lightgreen;
    color: coral;
}

a:active {
    background: lightBlue;
    color: #333;
}

#login {
    margin-left: auto;
    margin-right: 10px;
}

#submenu {
    width: 200px;
    overflow: hidden;
    display: none;
    flex-direction: column;
    position: absolute;
    left: 115px;
    top: 70px;
}

#submenu a {
    background: black;
    color: white;
    height: 30px;
    line-height: 30px;
    margin: 5px 0;
}

.menuPrincipal {
    position: relative;
}

.menuPrincipal:hover+#submenu {
    display: flex;
}