<br>
<table>
    <tr>
        <td class="celda" (click)="celdaClick(0,0)">
            <app-ficha [imagen]="tablero[0][0]"></app-ficha>
        </td>
        <td class="celda" (click)="celdaClick(0,1)">
            <app-ficha [imagen]="tablero[0][1]"></app-ficha>
        </td>
        <td class="celda" (click)="celdaClick(0,2)">
            <app-ficha [imagen]="tablero[0][2]"></app-ficha>
        </td>
    </tr>
    <tr>
        <td class="celda" (click)="celdaClick(1,0)">
            <app-ficha [imagen]="tablero[1][0]"></app-ficha>
        </td>
        <td class="celda" (click)="celdaClick(1,1)">
            <app-ficha [imagen]="tablero[1][1]"></app-ficha>
        </td>
        <td class="celda" (click)="celdaClick(1,2)">
            <app-ficha [imagen]="tablero[1][2]"></app-ficha>
        </td>
    </tr>
    <tr>
        <td class="celda" (click)="celdaClick(2,0)">
            <app-ficha [imagen]="tablero[2][0]"></app-ficha>
        </td>
        <td class="celda" (click)="celdaClick(2,1)">
            <app-ficha [imagen]="tablero[2][1]"></app-ficha>
        </td>
        <td class="celda" (click)="celdaClick(2,2)">
            <app-ficha [imagen]="tablero[2][2]"></app-ficha>
        </td>
    </tr>
</table>
