<div class="container">
    <h2>Registrar usuario</h2>
    <div class="row">
        <form [formGroup]="formulario">
            <div class="form-group col-12">
                <label for="nombreUsuario">Nombre de Usuario: </label>
                <input type="text" formControlName="nombreUsuario" class="form-control" name="nombreUsuario" id="nombreUsuario">
            </div>
            <div class="form-group col-12">
                <label for="codigoUsuario">Código de Usuario: </label>
                <input type="text" formControlName="codigoUsuario" class="form-control" name="codigoUsuario" id="codigoUsuario">
            </div>
            <div class="form-group col-12">
                <label for="email">Email: </label>
                <input type="text" formControlName="email" class="form-control" name="email">
            </div>
            <div class="form-group col-12">
                <label for="password">Password: </label>
                <input type="password" formControlName="password" class="form-control" name="password">
            </div>
            <div class="form-group d-flex justify-content-between">
                <button (click)="registrar()" class="btn btn-primary ">Aceptar</button>
                <button (click)="cancelar()" class="btn btn-danger">Cancelar</button>
            </div>
        </form>
    </div>
    <pre>
      {{formulario.value | json}}
    </pre>
</div>
